*,
* ::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

a {
	color: inherit;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

body,
html {
	height: 100%;
	line-height: 1;
}

:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 10);
}

@font-face {
	font-family: "raleway-c";
	src: url("../fonts/raleway-regular.woff2");
}
@font-face {
	font-family: "outfit-c";
	src: url("../fonts/outfit-regular.woff2");
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "outfit-c";
}

.content,
.hero__img,
.hero-section__header,
.gallery > * {
	will-change: transform;
}

body {
	background-image: url("../img/bg.jpg");
	background-size: 50px;
	color: #fafafa;
	font-family: "raleway-c";
	overflow-x: hidden;
}

.hero__img {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 8vh;
	z-index: -1;
}

.hero-section__container {
	padding: 0 7vw;
}

.hero-section__header {
	height: 100vh;
}

.hero-section__title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	bottom: 12vh;
	line-height: 0.9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#33ccff), to(#ff99cc));
	background-image: -o-linear-gradient(top, #33ccff 0%, #ff99cc 100%);
	background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}

.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}

.gallery__block-text {
	color: var(--color-text);
	position: relative;
}

.gallery__title {
	font-size: 2rem;
	line-height: 2.4rem;
	color: rgba(255, 0, 0, 0.8);
	margin-bottom: 1.5rem;
}

.galerry__text {
	line-height: 1.75;
	color: #fff;
}
